.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background: black;
  padding-top: 2em;
}
.grouping-box {
  padding: .5em;
}

.animals {
  border: solid black;
  border-radius: 2em;
  background: rgba(73, 188, 208, 0.3);
  color: white;
}

.other-animals {
  border: solid black;
  border-radius: 2em;
  background: rgba(203, 128, 201, 0.5);
  color: white;
}
